.product-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 1rem;

    .card {
        
        .card-body {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .button-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .view-btn {
                background-color: darkturquoise;
                border: none;
                border-radius: 0%;
            }
            .buy-btn{
                background-color: darkgreen;
                border: none;
                border-radius: 0%;
            }
            
            button {
                color: white;
                margin: 0px 5px 0px 5px;
            }
        }
    }

}