.cart-container {
    width: 75%;
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    .cart-items {

        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 1rem;
        padding: 1rem;
        background-color: #e9e9f0;

        .product-info {
            padding: 1rem;
    
            .limited-stock {
                color: darkred;
                font-size: small;
            }
    
            .delete-btn {
                display: block !important;
                width: 15%;
                background-color: darkred;
                border: none;
            }
    
            p {
                line-height: 1rem;
            }
    
        }
    }

    .checkout-btn {
        background-color: darkgreen;
        border: none;
        margin-right: 1rem;
        float: right;
    }

}